.todo-table
    padding-top: 35px
    height: calc(100vh - 80px)
    background-color: #EFD967
    &.dark
        background-color: #3571aa
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__title
        font-size: 36px
        font-weight: 400
